body{ 
	margin: 0;
	padding: 0;
	color: #B3B3B3;
	font-size: 12px;
	line-height: 1.6em; 
	font-family: segoe ui, open sans, arial, sans-serif;
	background-color: #242424;
}

a, a:link, a:visited { color: #9CF; font-weight: normal; text-decoration: none }
a:hover { color: #FF6; text-decoration: none; }

ul{
	margin:0;
	padding:0px 0px 0px 20px;
}

ul .squarebullet {list-style-type: square;}
ul .spacing { }
.spacing li { margin: 0 0 4px 0;} 

h1, h2, h3, h4, h5, h6 { color: #fff; font-weight: normal; }
h1 { font-size: 58px; margin: 0 0 30px; padding: 0px 0 }
h2 { font-size: 34px; margin: 0 0 30px; padding: 0px 0 }
h3 { font-size: 20px; margin: 0 0 20px; padding: 0; }
h4 { font-size: 16px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 14px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 12px; margin: 0 0 5px; padding: 0; font-weight: 700 }

p { padding: 0; margin: 0 0 15px 0;}
b { color: white }

.clear{
	clear:left;
}

cite { font-weight: bold; color:#fff; }
cite a, cite a:link, cite a:visited  { font-size: 12px; text-decoration: none; font-style: normal }
cite span { font-weight: 400; color: #ccc; }


.list_bullet { margin: 0 0 10px 15px; padding: 0; list-style: none }
.list_bullet li { color:#fff; margin: 0 0 7px 0; padding: 0 0 0 20px; background: url(images/templatemo_list.png) no-repeat scroll 0 6px  }
.list_bullet li a { color: #fff; font-weight: normal; text-decoration: none }
.list_bullet li a:hover { color: #fff }

.no_bullet { margin: 0; padding: 0; list-style: none }
.no_bullet li { margin: 0 0 20px 0; padding: 0 }
a.header { display: block; font-weight: 700 }

.half { width: 380px }

.h20 { height: 20px }
.h40 { height: 40px }

img { margin: 0; padding: 0; border: none }
.img_border { background: #fff; padding: 4px; margin: 0 0 0 8px;	 }
.img_nom { display: inline-block; margin-bottom: 15px }
.img_fl { float: left; margin: 0px 5px 5px 5px }
.img_fr { float: right; margin: 3px 0 5px 15px }
.img_overlay{ position: relative;}

.left { float: left }
.right { float: right; }

#templatemo_header {
	width: 800px;
	margin: 0 auto;
	padding: 30px 0;
}

#templatemo_main {
	width: 800px;
	
	overflow: hidden;
	margin: 0 auto;
}

#templatemo_footer {
	width: 800px;
	margin: auto auto;
	padding: 20px 0;
	text-align: center;
	display: block;
}

#site_title { display: block }
#site_title a { color: #fff; line-height: 50px }

#content{
	overflow:hidden;
	width: 7000px;
	position:relative;
	
}

.section {
	position:relative;
	float:left;
	width: 800px;
	
	margin-right: 20px;
}

.section .textbody{
	height: 440px;
}

.section .zceiback{ background: url(images/zcei_soccer.jpg); }
.section .sofiawing{ background: url(images/SOFIA_wing.jpg); }
.section .hackathon{ background: url(images/hackathon.jpg); }
.section .classroom{ background: url(images/classroom_zambia.jpg); }
.section .handshake{ background: url(images/handshake.png); }

.nav {
	width: 800px;
	height: 47px;
	margin: auto auto;
	text-align: center;
	display: block;
}
.nav a.navbar { bottom: 0; width: 44px; height: 46px; background-image: url(images/navbar3.png); text-indent: -20000px; display: inline-block;}
.nav  ul {list-style:none; position: relative; left: 256px; margin: 0 0 0 0; padding: 0; list-style-type: none; width: 308px; height: 46px;}
.nav  li {float: left;  height: 46px; display: block; }
.nav a.home_but_wh { background-position: 132px 0px;}
.nav a.abou_but_wh { background-position: 220px 0px;}
.nav a.rese_but_wh { background-position: 176px 0px;}
.nav a.teac_but_wh { background-position: 88px 0px;}
.nav a.code_but_wh { background-position: 44px 0px;}
.nav a.volu_but_wh { background-position: 264px 0px;}
.nav a.pape_but_wh { background-position: 308px 0px;}

.nav a.home_but_gr { background-position: 132px 46px;}
.nav a.abou_but_gr { background-position: 220px 46px;}
.nav a.rese_but_gr { background-position: 176px 46px;}
.nav a.teac_but_gr { background-position: 88px 46px;}
.nav a.code_but_gr { background-position: 44px 46px;}
.nav a.volu_but_gr { background-position: 264px 46px;}
.nav a.pape_but_gr { background-position: 308px 46px;}

.box { float: left; margin: 0 10px 10px 0 }
.home_block { position: relative; width: 314px; height: 314px; background: #6B6B6B}
.home_bit { position: relative; width: 152px; height: 152px; margin: 0 10px 10px 0}
.home_log { position: relative; width: 314px; height: 152px; margin: 0 10px 10px 0}
.home_bit.no_margin{ margin-right: 0}
.home_bit h3{ margin: 0 -5px 30px;}
.home_log h3{ margin: 0 -5px 30px;}

#home_gallery { width: 476px; height: 314px }
.home_box1 { width: 152px; height: 152px }
.home_box2 { width: 314px; height: 152px }
.color1 { background: #d0b500 }
.color2 { background: #c75000 }
.color3 { background: #00afce }
.color4 { background: #a4c700 }
#home_gallery a { display: block; float: left; width: 152px; height: 152px; margin: 0 10px 10px 0 }
#home_gallery a.large { width: 314px; height: 314px; }
#home_gallery a.no_mr { margin-right: 0 }

.overlay_text{
   color: white; 
   position: absolute; 
   bottom: -18px; 
   left: 10px; 
   width: 100%;
}

.overlay_text_right{
	color: white; 
	position: absolute;
	bottom: 20px;
	right: 10px;
	text-align: right;
	padding: 5px; 
}

.overlay{
	padding: 5px 5px 5px 5px;
	#vertical-align: 2px;
}

.overlay p{
	color: #B3B3B3;
	font-size: 13px;
}


.overlay_border{
	margin: 5px 5px 5px 5px;
}

.overlay_blue{
	background: rgb(18, 152, 224); /* fallback color */
	background: rgba(18, 152, 224, 0.87);
}
.overlay_orange{
	background: rgb(255, 143, 15); /* fallback color */
	background: rgba(255, 143, 15, 0.87);
}

.overlay_goldenrod{
	background: rgb(255, 185, 0); /* fallback color */
	background: rgba(255, 185, 0, 0.87);
}

.overlay_green{
	background: rgb(70, 212, 44); /* fallback color */
	background: rgba(70, 212, 44, 0.87);
}
.overlay_purple{
	background: rgb(227, 45, 221); /* fallback color */
	background: rgba(227, 45, 221, 0.87);
}

.overlay_red{
	background: rgb(207, 65, 75); /* fallback color */
	background: rgba(207, 65, 75, 0.87);
}

.overlay_gray{
	background: rgb(64, 64, 64); /* fallback color */
	background: rgba(24, 24, 24, 0.87);
}

.section_title{
	width: 800px;
	height: 54px;
	margin: 0px 0px 0px 0px;
	text-align: left;
	position: relative;	
}

.section_title_text{
	position: relative;
	top: 14px;
	left: 5px;
	padding: 0px 8px 0px 8px;
}

#square_icon {
	text-align: center;
	padding: 50px 0 0 0
}

#social_links {
	text-align: center;
	padding: 40px 0 0 0
}
#social_links a {
	display: block;
	float: left;
	width: 48px;
	height: 48px;
	margin-left: 12px
}

#gallery {

}

#gallery li {
	width: auto;
	height: auto;
	float: left;
	width: 152px;
	height: 245px;
	background: none;
	margin: 0 10px 10px 0;
}
#gallery li a {
	display: block;
}
#gallery li a img  { }

#gallery li.no_margin_right { margin-right: 0 }

#contact_form { padding: 0; width: 330px }

#contact_form form { margin: 0px; padding: 0px; }

#contact_form form .input_field { width: 150px; padding: 5px; color: #CCC; border: 1px solid #666;  background: #222; margin-bottom: 10px; }

#contact_form form label { display: block;font-size: 11px }

#contact_form form textarea { 
	clear: both; 
	width: 320px; height: 120px; 
	padding: 5px; 
	color: #CCC;
	border: 1px solid #666; 
	font-family: Arial, Helvetica, sans-serif; 
	background: #222; 
	margin-bottom: 10px;
}

#contact_form form .submit_btn { font-size: 12px; background: #333; color: #CCC; cursor:pointer; border: 1px solid #666; padding: 5px 10px; }

.no_mr { margin-right: 0 }
.no_mb { margin-bottom: 0 }
